.page {
  background-color: var(--bg-color);
  font-family: var(--ffamily, monospace);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 668px;
}

@media (width < 768px) {
  .header {
    grid-template-columns: 1fr;
  }
}

.header__theme-menu {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: center;
  align-self: start;
  margin-top: var(--gap);
  color: var(--color-header);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: var(--fsize);
  text-transform: lowercase;
  cursor: pointer;
  inline-size: 70px;
}

.header__theme-menu-button:Disabled {
  border: 1px solid var(--color-header);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-header-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--color-header);
  outline: none;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--color-header);
  border-block-start: 1px solid var(--color-header);
  inset-inline-end: var(--gap);
  inset-block-start: var(--gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--color-header);
  border-block-end: 1px solid var(--color-header);
  inset-inline-start: var(--gap);
  inset-block-end: var(--gap);
}

.theme-decorated-zone-REC {
  display: block;
  position: absolute;
  color: var(--accent-color);
  font-size: var(--fsize);
  line-height: 1.3em;
  text-transform: uppercase;
  inset-inline-end: calc(var(--gap) + 28px);
  inset-block-start: calc(var(--gap) + 2px);
}

.theme-decorated-zone-REC::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.title {
  color: var(--title-color);
  z-index: 1;
  line-height: 82.5%;
  font-weight: bold;
  font-size: var(--title-fsize);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_title {
  grid-column: 1 / -1;
  grid-row: 2;
}

.header__text {
  grid-row: 3;
  grid-column: 2;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--fsize);
  font-weight: bold;
  margin-right: 20px;
}

@media (width < 1024px) {
  .header__theme-menu {
    grid-row: 1;
    grid-column: 2;
    justify-content: end;
    align-self: center;
    margin-right: 20px;
  }

  .header__theme-menu-list {
    display: block;
  }

  .header__theme-menu-item {
    margin: 10px 0;
  }

  .header_title {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

@media (width < 768px) {
  .header__theme-menu {
    grid-column: 1;
    margin-right: 10px;
    align-items: normal;
  }

  .header_title {
    grid-column: 1;
    margin: 0 10px;
  }

  .header__text {
    grid-column: 1;
    margin: 0 10px;
  }
}

.main {
  padding: 0 10px;

  @media (width >=768px) {
    padding: 0 20px;
  }
}

.section {
  margin-top: 40px;

  @media (width >=768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--gap);
    grid-auto-flow: dense;
    margin-top: 60px;
  }
  
  @media (width >=1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.section__title {
  color: var(--color-header);
  font-size: var(--fsize);
  font-weight: bold;
  max-width: 315px;
  margin-bottom: 20px;
}

.section__list {
  color: var(--text-color);
  font-size: var(--fsize);
  line-height: 23.4px;
  grid-column: 2 / -1;
}

.item-header {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--fsize);
  align-self: start;
}

.item-header-text {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--fsize);
  font-weight: 300;
}

.item-text {
  margin: 10px 0 20px;

}

.section__why {
  grid-template-rows: min-content 1fr;
}

@media (width < 768px) {
  .section__title {
    max-width: 355px;
  }

  .section__what {
    margin-top: 50px;
  }

  .section__how {
    margin-top: 50px;
  }
}

.list__what {
  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    grid-column: 1 / -1;
    gap: var(--gap);
  }

  @media (width >= 768px) {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.list__how {
  grid-column: 2 / -1;
  margin: 0;
}

.item-header__how {
  margin-bottom: 20px;
}

dd {
  margin-inline-start: 0px;
}

.text-link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0px var(--accent-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.text-link:hover {
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / -1;
  gap: var(--gap);
  box-sizing: border-box;
  min-height: 768px;
  margin: 0 0 60px;
}

.item-header__image {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

.gallery__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.gallery__item:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.gallery__item:nth-child(3) {
  grid-column: 1;
  grid-row: span 2;
}

.gallery__item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.gallery__item:nth-child(5) {
  grid-column: 2 / -1;
  grid-row: 3;
}

@media (width <=1024px) {
  .gallery {
    grid-template-rows: auto;
  }
}

@media (width < 768px) {
  .gallery {
    display: block;
    margin: 0 0 40px;
  }

  .item-header__image {
    margin: 50px 0 10px;
  }

  .gallery__item {
    margin-bottom: 10px;
  }
}

.footer {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.title__footer {
  display: flex;
  grid-row: 2;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}