/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--ffamily);
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: space-between;
  width: 100%;
  min-height: 768px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width <= 768px) {
  .header {
    min-height: 1024px;
    grid-template-rows: 1fr min-content 1fr;
  }
}

@media (width <= 375px) {
  .header {
    min-height: 668px;
    min-width: 375px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    background-size: cover;
    background-position: center;
  }
}

.header__theme-menu {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: center;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: var(--fsize);
  text-transform: lowercase;
  cursor: pointer;
  inline-size: 70px;
}

.header__theme-menu-button:Disabled {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.theme-decorated-zone-REC {
  display: block;
  position: absolute;
  color: var(--accent-color);
  font-size: var(--fsize);
  line-height: 1.3em;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
  }
  
  .theme-decorated-zone-REC::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
  }

.title {
  color: var(--title-color);
  z-index: 1;
  line-height: 82.5%;
  font-weight: bold;
  font-size: var(--title-fsize);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_title {
  grid-column: 1 / -1;
  grid-row: 2;
}

.header__text {
  display: inline-block;
  grid-row: 3;
  grid-column: 2;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--fsize);
  block-size: var(--bl-size);
  font-weight: bold;
  margin-top: 115px;
  margin-right: 20px;
}

@media (width <= 768px) {
  .header__theme-menu {
    grid-row: 1;
    grid-column: 2;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
  }
  
  .header__theme-menu-list {
    display: block;
  }
  
  .header__theme-menu-item {
    margin: 10px 0;
  }

  .header_title {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .header__text {
    margin-top: 162px;
  }
}

@media (width <= 375px) {
  .header__theme-menu {
    grid-column: 1;
    margin-right: 10px;
    align-items: normal;
    margin-top: 45px;
  }

  .header_title {
    grid-column: 1;
    margin: 0 10px;
  }

  .header__text {
    grid-column: 1;
    margin: 55px 10px 0;
  }
}

.main {
  padding: 0 20px;
}

.section__title {
  color: var(--color-header);
  font-size: var(--fsize);
  font-weight: bold;
  margin-bottom: 20px;
  inline-size: 315px;
}

.section__list {
  color: var(--text-color);
  font-size: var(--fsize);
  line-height: 23.4px;
}

@media (width <= 768px) {
  .main {
    padding: 0 20px;
  }

  .section__title {
    inline-size: 235px;
  }
}

@media (width <= 375px) {
  .main {
    padding: 0 10px;
  }

  .section__title {
    inline-size: 355px;
    margin-bottom: 0;
  }

  .section__list {
    inline-size: 355px;
  }
}

.section__why {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 60px 0 0;
  gap: var(--main-gap);
  margin: 60px 0 0;
}

.item-header {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--fsize);
}

.item-header-text {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: var(--fsize);
  font-weight: 300;
  margin-bottom: 10px;
}

.list__why {
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
  gap: var(--main-gap);
}

.item-header__why {
  margin-bottom: 10px;
}

.section__what {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 80px 0 0;
}

.section__title-what {
  display: flex;
}

.item-header__what {
  margin-bottom: 10px;
}

.list__what {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--main-gap);
}

.section__how {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 80px 0 80px;
  gap: var(--main-gap);
}

.list__how {
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
  gap: var(--main-gap);
}

.text-link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0px var(--accent-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

@media (width <= 768px) {
  .list__what {
    grid-template-columns: 1fr;
  }
}

@media (width <= 375px){
  .section__why {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 40px 0 0;
    gap: 0;
  }

  .list__why {
    gap: 0;
  }

  .item-header {
    margin-top: 20px;
  }

  .section__what {
    margin: 50px 0 0;
    gap: 0;
  }

  .list__what {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .section__how {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 50px 0 0;
    gap: 0;
  }

  .list__how {
    gap: 20px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 260px 315px 428px;
  gap: var(--main-gap);
  box-sizing: border-box;
  min-height: 768px;
  margin: 0 0 60px;
}

.item-header__image {
  margin-bottom: 20px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.gallery__item:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.gallery__item:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / -1;
}

.gallery__item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.gallery__item:nth-child(5) {
  grid-column: 2 / -1;
  grid-row: 3;
}

@media (width <= 768px) {
  .gallery {
    grid-template-rows: 192px 230px 318px;
  }
}

@media (width <= 375px) {
  .gallery {
    display: block;
    margin: 0 0 40px;
  }

  .item-header__image {
    margin: 50px 0 10px;
  } 

  .gallery__item {
    margin-bottom: 10px;
  }
}

.footer {
  position: relative;
}

.title__footer {
  display: flex;
  justify-content: center;
  padding: 320px 0;
  margin: auto;
}

.footer_decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.footer_decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

@media (width <= 768px) {
  .footer {
    min-height: 1024px;
  }

  .title__footer {
    padding: 463px 0;
  }
}

@media (width <= 375px) {
  .footer {
    min-height: 668px;
  }

  .title__footer {
    padding: 285px 0;
  }
}